{% extends 'base.html' %}
{% block content %}

<div class="login">
<h1>Add Record</h1>
<br/>
<section>
    <form method="POST" action="{% url 'BlogApp:add_record' %}">
	{% csrf_token %}

	{{ form.as_p }}

    <br/>
    <button type="submit" class="btn-add-record">Add Record</button>
    <a href="{% url 'BlogApp:home' %}" class="btn-back">Back</a>

    </form>
</section>


</div>
<style>
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    body {
        background: #e3f2fd;
    }

    .login {
        background: #fff;
        padding: 50px;
        position: absolute;
        text-align: center;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%) scale(1);
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    }
    .login h1 {
        color: #4070f4;
    }
    .btn-add-record, .btn-back {
        border: none;
        padding: 10px;
        text-decoration: none;
        color: white;
        opacity: 1;
    }

    .btn-add-record {
        background: #4070f4;
    }
    .btn-add-record:hover {
        cursor: default;
    }

    .btn-back {
        background: #4070f4;
    }
    .btn-back:hover {
        cursor: default;
    }

    .city, .email, .last_name, .first_name, .phone, .address, .state, .zipcode {
        margin: 10px;
        padding: 10px 20px;
        border-bottom: 1px solid #4070f4;
        border-top: none;
        border-left: 1px solid #4070f4;
        border-right: none;
        background-color: #e3f2fd;
        display: grid;
        grid-template-columns: 1fr 1fr ;
    }
    
</style>
{% endblock %}